.input {
    outline: 1px solid #C9C9C9;
    height: 45px;
    padding-inline: 10px;
}

.input:focus {
    outline: 1px solid #013d29;    
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}